body{
    background-color:#c5c5c5c0;
    color:black;
}

h1 {
    text-align: center;
    font-size: 260%;
}
h2 {
    text-align: center;
    font-size: 180%;
}
h4 {
    text-align: center;
    
    font-size: 180%;
}
p{
    text-indent: 25px;
    font-size: 18pt;
}

button{
    width: 200px;
    height: 40px;
}